<!-- *ngIf="allServ?.loader" -->
<!-- #52af94bf -->
<div id="pluswrap" *ngIf="allServ?.loader">

    <div class="plus p-2 rounded shadow ">
        <!-- <div class="loader"></div>&nbsp;&nbsp;<span class="fs5 fw4 text-white"
            style="line-height: 1.85rem;">Loading...</span> -->

        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- 
<div id="pluswrap">
    <div class="plus">
        <div class="loader"></div>
    </div>
</div> -->