<div class="">
  <!-- <i *ngIf="icon == 'Share'" data-toggle="tooltip" title="Share" (click)="share()" class="far fa-paper-plane" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Rename'" data-toggle="tooltip" title="Rename" (click)="rename()" class="fas fa-pencil-alt" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Edit'" data-toggle="tooltip" title="Edit" (click)="edit()" class="far fa-edit" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Delete'" data-toggle="tooltip" title="Delete" (click)="deleteRow()" class="fas fa-trash-alt" style="cursor: pointer;"> </i> -->
  <i *ngIf="icon == 'Share'" title="Share" (click)="share()" class="far fa-paper-plane" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Rename'" title="Rename" (click)="rename()" class="fas fa-pencil-alt" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Edit'" title="Edit" (click)="edit()" class="far fa-edit" style="cursor: pointer;"> </i>
  <i *ngIf="icon == 'Delete'" title="Delete" (click)="deleteRow()" class="fas fa-trash-alt" style="cursor: pointer;"> </i>
</div>
