<div

>
  <!-- <i *ngIf="visibilityStatusSTR === 'UNPUBLISHED'" data-toggle="tooltip" title="Publish" style="cursor: pointer" class="fa fa-toggle-off cursor-pointer" (click)="viewPublish()"></i>

  <i *ngIf="visibilityStatusSTR === 'PUBLISHED' " data-toggle="tooltip" title="Unpublish" style="cursor: pointer" class="fa fa-toggle-on cursor-pointer" (click)="viewPublish()"></i> -->
  <i *ngIf="visibilityStatusSTR === 'UNPUBLISHED'"  title="Publish" style="cursor: pointer" class="fa fa-toggle-off cursor-pointer" (click)="viewPublish()"></i>

  <i *ngIf="visibilityStatusSTR === 'PUBLISHED' "  title="Unpublish" style="cursor: pointer" class="fa fa-toggle-on cursor-pointer" (click)="viewPublish()"></i>
</div>
