<aside class="main-sidebar sidebar-light-info elevation-4">
    <a class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">{{appConst?.APPLICATION_NAME}}</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info font-weight-normal">
                {{allServ?.authServ?.getLoggedUser()?.email}}
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- <li class="nav-item has-treeview menu-open">
                    <a [routerLink]="['form-listing']" class="nav-link active">
                        <i class="nav-icon fab fa-wpforms"></i>
                        <p>
                            Manage Forms
                        </p>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>